---
import Layout from "@/layouts/Layout.astro";
import Home from "@/components/sections/home.astro";
import Services from "@/components/sections/services.astro";
import Portfolio from "@/components/sections/portfolio.astro";
import Card from "@/components/Card.astro";
---

<Layout
  title="Web Developer"
  description="Desing and Development of Langing pages for your online business"
>
  <Home />
  <Services />
  <Portfolio />
  <footer class="w-full items-center gap-6 py-[50px] text-[#ffffff90] flex justify-center">
    <p>© 2024 Alejandro Urrea. Almost All Rights Reserved.</p>
    <Card href="#home" class="card py-2">Home</Card>
  </footer>
  
</Layout>
