---
import Linkedin from "@/components/svg/linkedin.astro";
import Code from "@/components/svg/code.astro";
import Instagram from "@/components/svg/instagram.astro";
import Twitter from "@/components/svg/twitter.astro";
import Github from "@/components/svg/github.astro";
import CopyMail from "@/components/CopyMail.astro";
import Youtube from "@/components/svg/youtube.astro";
import Twitch from "@/components/svg/twitch.astro";
import Download from "@/components/svg/download.astro";
import Portfolio from "@/components/svg/portfolio.astro";
import Card from "@/components/Card.astro";
import Grid from "@/components/Grid.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Grid id="home" class="py-[200px]">
  <Card class="card md:col-span-3 col-span-8 p-4 row-span-5 ">
    <div class="mx-auto flex-col gap-2">
      <img
        src="/avatar.webp"
        alt="imagen del Ingeniero de Sorftware Alejandro Urrea"
        class="aspect-square bg-avatar rounded-xl cursor-default"
      />

      <span class="text-lg w-full">{t("greeting")}</span>
      <h1 class="text-3xl font-semibold">Alejandro Urrea</h1>
      <p class="text-sm mb-2 max-w-[500px]">{t("experience")}</p>
    </div>
  </Card>
  <Card href="#services" class="card col-span-5 row-span-2 p-4">
    <h2 class="text-3xl w-[300px] font-semibold">{t("designDevelopment")}</h2>
    <Code />
  </Card>
  <Card class="card col-span-3 md:col-span-2">
    <CopyMail />
  </Card>
  <Card
    href="/CV_Alejandro_Urrea.pdf"
    target="_blank"
    class="card col-span-3 md:col-span-2 gap-4"
  >
    <span class="text-xl font-semibold flex"
      >{t("downloadCV")}<Download class="size-8" /></span
    >
  </Card>
  <Card class="card col-span-2 md:col-span-1 row-span-2 md:row-span-1">
    <div
      class="transition-all rounded-full size-14 flex justify-center items-center overflow-hidden font-semibold cursor-pointer"
    >
      <span
        class=`size-full flex items-center p-1  ${lang === "en" && "bg-white text-Darkblue"}`
        ><a href="/en" class="text-xs md:text-base">EN</a>
      </span>
      <span
        class=`size-full flex items-center p-1  ${lang === "es" && "bg-white text-Darkblue"}`
      >
        <a href="/" class="text-xs md:text-base">ES</a></span
      >
    </div>
  </Card>
  <Card class="card col-span-3 md:col-span-2  row-span-2 flex-col gap-4">
    <span class="w-full text-center text-xl font-semibold"
      >{t("programmingContent")}</span
    >
    <ul class="flex gap-2">
      <a
        href="https://www.youtube.com/channel/UChgJX3QD_r-N__Tdg8va5Ug"
        target="_blank"
      >
        <Youtube class="size-20" /></a
      >
      <a href="https://www.twitch.tv/blackproject33" target="_blank">
        <Twitch class="size-20" /></a
      >
    </ul>
  </Card>
  <Card class="card col-span-3 row-span-3 flex-col gap-2 p-4">
    <span class="w-full text-xl font-semibold">{t("aboutMeTitle")}</span>
    <p class="text-sm text-[#ffffff90]">{t("aboutMeText")}</p>
  </Card>
  <Card class="card col-span-3">
    <ul class="flex gap-2">
      <a href="https://www.instagram.com/sero_cool/" target="_blank">
        <Instagram class="md:size-14 size-10" />
      </a>
      <a href="https://twitter.com/cool_sero51260" target="_blank">
        <Twitter class="md:size-14 size-10" />
      </a>
      <a href="https://github.com/SeroC00l" target="_blank">
        <Github class="md:size-14 size-10" />
      </a>
      <a href="https://www.linkedin.com/in/alejourrea/" target="_blank">
        <Linkedin class="md:size-14 size-10" />
      </a>
    </ul>
  </Card>
  <Card href="#portfolio" class="card col-span-2 gap-2 text-xl font-semibold">
    <span>{t("projects")}</span>
    <Portfolio />
  </Card>
</Grid>
