---
import Layout from "../layouts/Layout.astro";
import Home from "@/components/sections/home.astro";
import Portfolio from "@/components/sections/portfolio.astro";
import Card from "@/components/Card.astro";
---

<Layout
  title="Desarrollador Web"
  description="Diseño y desarrollo de paginas web para tu negocio online"
>
  <Home />
  <Portfolio />
  <footer
    class="w-full items-center gap-6 py-[50px] text-[#ffffff90] flex justify-center"
  >
    <p>© 2024 Alejandro Urrea. Casi todos los derechos reservados</p>
    <Card href="#home" class="card p-3">Inicio</Card>
  </footer>
</Layout>
