---
import Layout from "../layouts/Layout.astro";
import Home from "@/sections/home.astro";
import Experience from "@/sections/experience.astro";
import Portfolio from "@/sections/portfolio.astro";
---

<Layout
  title="Desarrollador Web"
  description="Diseño y desarrollo de paginas web para tu negocio online"
>
  <Home />
  <Experience />
  <Portfolio />
  <footer id="contact" class="w-full items-center gap-6 py-[50px] flex justify-center">
    <p>© 2025 Alejandro Urrea. Todos los derechos reservados</p>
  </footer>
</Layout>
