---
const { href } = Astro.props;
---

{
  href ? (
    <a {...Astro.props}>
      <slot />
    </a>
  ) : (
    <article {...Astro.props}>
      <slot />
    </article>
  )
}

<style>
  .card {
    @apply relative cursor-pointer rounded-xl transition-colors;
  }
</style>
