---
const { class: className = "", ...props } = Astro.props;
---

<section
  {...props}
  class={`relative grid-cols-8 gap-3 mx-10 md:mx-0 ${className.includes("hidden") ? "hidden" : "grid"} ${className}`}
>
  <slot />
</section>
<style>
  section {
    grid-auto-rows: minmax(100px, auto);
  }
</style>
